div {
    background:#0D0C16;
    display: inline-block;
    vertical-align: top;
    margin: auto auto auto auto ;
}
p {
/* background: olive; */
margin: 1px;
line-height: .7em;
font-family: monospace;
font-size: 2em;
color: darkgray;
}